CONFIG=./config
CHANNEL=#CHANNEL_NAME
ICON_URL=http://localhost/
CHART_URL=http://localhost:400
WEB_TOKEN={WEB TOKEN}
BOT_TOKEN={BOT TOKEN}
WEB_HOOK=https://hooks.slack.com/services/{your webook}
USERS=['johndoe','onlybyme']
