CONFIG=./config/
CONFIG_FILENAME=trackerConfig.json
LOG=./log/
LOGGER_CONFIGFILE=loggerConfig.json
LOGGER_OUTFILE=coinhistory.log
TREND_FILENAME=trend.log

CHANNEL=#cointest
BOT_NAME=botTester
BOT_ICON=TST

ICON_URL=http://localhost/
CHART_URL=http://localhost:400
WEB_TOKEN={WEB TOKEN}
BOT_TOKEN={BOT TOKEN}
WEB_HOOK=https://hooks.slack.com/services/{your webook}

USERS='johndoe','onlybyme'
COINS_KEY=BCH,BTC,ETH
COINS_CMD=c,b,E
