REDIS_HOST=localhost
REDIS_PORT=6379
CRON_SCHEDULE="2 */4 * * * *"
SPLIT_SIZE=4
CHART_DATA=./chartData/
CHART_URL=http://localhost:400
CONFIG=./config/
ICON_URL=http://localhost/
WEB_HOOK={{slack webhook url}}


