REDIS_HOST=localhost
REDIS_PORT=6379
SPLIT_SIZE=4
CHART_DATA=./chartData/
CHART_URL=http://localhost:400

CONFIG=./config/
CONFIG_FILENAME=trackerConfig.json
UPDOWN_PERCENT=1

LOG=./log/
LOGGER_CONFIGFILE=loggerConfig.json
LOGGER_OUTFILE=history.log

TREND_FILENAME=trend.log

BOT_NAME=testBotName
CHANNEL=#cointest
ICON_URL=http://localhost/
WEB_TOKEN=xoxp-14663517xxxx-{web_token}
TRACKER_NAME=trackerTester

COINS_KEY=BCH,BTC,ETH
COINS_CMD=c,b,E
